fastapi
uvicorn[standard]
gunicorn
transformers
torch 
pydantic
python-dotenv
requests # For the client notebook
aiohttp # For async client in notebook
nest_asyncio # For running asyncio in notebook
prometheus-client # For metrics